# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Chroma Database
# ==========================================
chroma_db/

# ==========================================
# Streamlit Cache
# ==========================================
.streamlit/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log