# ============================
# LangChain Core
# ============================
langchain
langchain-core
langchain-community
langchain-text-splitters

# ============================
# Vector Database
# ============================
langchain-chroma
chromadb

# ============================
# Embedding Models
# ============================
langchain-huggingface
sentence-transformers
transformers
huggingface-hub

# ============================
# LLM
# ============================
langchain-mistralai

# ============================
# Document Loaders
# ============================
pypdf

# ============================
# Environment Variables
# ============================
python-dotenv

# ============================
# UI
# ============================
streamlit

# ============================
# Utilities
# ============================
tiktoken
numpy